.arrow-button {
  min-width: 35px;
  height: 32px;
  background-color: white;
  color: var(--gs-900);
  padding: 10px;
  border: var(--gs-500) solid 1px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: var(--gs-100);
  }
  
  &__right {
    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      border: solid var(--gs-500);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);  
    }
  }

  &__left {
    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      border: solid var(--gs-500);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(135deg);  
    }
    margin-right: 5px;
  }
}

