@import '../../assets/scss/_mixins';

.calendar {
  margin-top: var(--spacing);
  display: block;
  position: relative;

  &__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &__button {
      &:first-of-type {
        margin-right: calc(var(--spacing) * 0.5);
      }
    }   
      
    &__month-text {
      font: var(--font-h-5);
      color: var(--gs-900);
      min-width: 140px;
      text-align: center;
    }
  }

  &-color-dots-legend {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 2.5);
    margin: calc(var(--spacing) * 2.5) 0;

    &__flex {
      display: flex;
      align-items: center;
  
      &__color-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto var(--spacing) auto auto;
      }
  
      &__text {
        font: var(--font-p-4);
      }
    }
  }

}
